<div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        &nbsp; &nbsp; &nbsp; &nbsp;
              <nav class="navbar">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:slategray">
                  Tipo requerimiento
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/tipoRequerimiento']"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    &nbsp;
                    &nbsp; Crear tipo requerimeinto</a>
                  <a class="dropdown-item" [routerLink]="['/eliminarTipoRequerimiento']"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    &nbsp;
                    &nbsp;
                    Editar tipo requerimiento</a>
                  <!-- <a class="dropdown-item" [routerLink]="['/consultaRequerimientos']"> <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp; &nbsp; &nbsp;Eliminar tipo requerimiento </a> -->
                </div>
              </nav>

              <nav class="navbar">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:slategray">
                  Módulo
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/perfil']"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    &nbsp;
                    &nbsp; Crear módulo</a>
                  <a class="dropdown-item" [routerLink]="['/eliminarPerfil']"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    &nbsp; &nbsp;
                    Editar módulo</a>
                  <!-- <a class="dropdown-item" [routerLink]="['/consultaRequerimientos']"> <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp; &nbsp; &nbsp; Eliminar perfil </a> -->
                </div>
              </nav>

              <nav class="navbar">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:slategray">
                  Empleados
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" [routerLink]="['/empleados']"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    &nbsp; &nbsp; Crear empleado</a>
                  <a class="dropdown-item" [routerLink]="['/eliminarEmpleado']"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    &nbsp; &nbsp; Editar empleado</a>
                  <!-- <a class="dropdown-item" [routerLink]="['/consultaRequerimientos']"> <i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp; &nbsp; &nbsp; Eliminar empleado </a> -->
                </div>
              </nav>
              <nav class="navbar">
                  <a class="" style="color:slategray" href="{{trello}}">
                      &nbsp; &nbsp; &nbsp;
                      <i class="fa fa-folder-open-o fa-lg text-danger" aria-hidden="true"></i>
                  </a>
              </nav>
      </nav>
      <div class="card-body text-info text-center">
        <router-outlet></router-outlet>
      </div>

    </div>

