<div class="card">
    <div class="container d-flex justify-content-center pt-5">
    <div class="card border-info" style="width: 18rem;">
        <div class="card-header text-center">Tipo requerimiento</div>
        <div class="card-body text-info text-center">
            <form (ngSubmit)="editarPais()">
                <br>
                <h6 class="text-center text-secondary"> Tipo requerimiento &nbsp; &nbsp; </h6>
                <br>
                <input type="text"
                       value="pais.name" class="form-control" name="nombrePais"
                       [(ngModel)]="pais.name"/>
                <br> <br>
                <button class="btn btn-warning" type="submit" (click)="atras()"> Modificar </button>
            <br>
            <!-- <button class="btn btn-warning" [routerLink]="['/ciudades']"> Atras. . .</button> -->
          </form>
        </div>
      </div>
    </div>
    <br> <br>
  </div>
