<div class="container col-xs-4 col-sm-6 col-md-4 col-lg-4 pt-5">
  <div class="card border-info" style="max-width: 18rem;">
    <div class="card-header text-center">Login</div>
    <div class="card-body text-info text-center">
      <br> <br>
      <button type="button" class="btn btn-danger">Google</button>
      <br> <br>
      <button type="button" class="btn btn-secondary">GitHub</button>
      <br> <br>
      <button type="button" class="btn btn-warning" (click)="loginPersonal()">Personal</button>
      <br> <br>
    </div>
  </div>
</div>
