<div class="container d-flex justify-content-center pt-3">
<div class="card d-flex border-white justify-content-center" style="width: 18rem;">
  <img src="./assets/images/aviatur.png" class="card-img-top imagenLogin" alt="...">
  <div class="row">
      <div class="col-12">
    <div class="card border-info" style="width: 18rem;">
      <div class="card-body text-info text-center">
        <h5 class="card-title">Login</h5>
        <br> <br>
        <button type="button" class="btn btn-danger" (click)="loginWithGoogle()">Google</button>
        <br> <br>
        <button type="button" class="btn btn-secondary" (click)="signInWithGithub()">GitHub</button>
        <br> <br>
        <button type="button" class="btn btn-warning" (click)="loginPersonal()">Admin</button>
        <br> <br>

      </div>
    </div>
  </div>
  </div>
</div>
</div>
<br> <br>



<router-outlet></router-outlet>
