.divEmpleados{
  display: flex;
  flex-direction: row;
  /* flex-grow: 2; */
  justify-content: space-evenly;
  /* width: 250px;  Or whatever */
  /* height: 100px; Or whatever */
  margin: auto;
}



.containerLogin{
  background-color: rgba(207, 204, 204, 0.454);
 text-align:center;
}

.registro{
 display: flex;
 justify-content: center;
 flex-direction: row;
}


.nombre{
  font-size: 10px;
}

.empleados{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
