<div class="card">
    <div class="container d-flex justify-content-center pt-5">
        <div class="card border-success" style="width: 20rem;">
          <div class="card-header text-center text-success">Crear empleado</div>
          <div class="card-body text-success text-center">
              <form (ngSubmit)="crearEmpleado()">
                <br>
                <div class="container text-secondary">
                      Nombres:<input type="text" placeholder="Nombres ..."
                              class="form-control" name="nombre"
                              [(ngModel)]="empleado.nombre" required/>
                </div>
                <br>
                <div class="container text-secondary">
                    Apellidos:<input type="text" placeholder="Apellidos ..."
                    class="form-control" name="nombre"
                    [(ngModel)]="empleado.apellido" required/>
                <br>
                </div>
                <div class="container text-secondary">
                    Area:<input type="text" placeholder="Area ..."
                    class="form-control " name="nombre"
                    [(ngModel)]="empleado.departamento" required/>
                <br>
                </div>
                <div class="container text-secondary">
                    Correo:<input type="text" placeholder="Correo ..."
                            class="form-control" name="nombre"
                            [(ngModel)]="empleado.correo" required/>
                </div>
                <br> <br>
                  <button class="btn btn-dark" type="submit"> Crear </button>
                  &nbsp; &nbsp;
                  <button class="btn btn-dark" type="button" (click)="atras()"> Atras </button>
                  <br>

              </form>
          </div>
        </div>
      </div>
      <br> <br>
  </div>
  <br> <br>

