
  <div class="container d-flex  justify-content-center mt-3">
      <div class="card" style="width: 36rem;">
          <div class="card-body">
            <h5 class="card-title text-secondary"> <i> Crear módulo JBolivar</i> </h5>
            <br>
            <form (ngSubmit)="crear()">
            <div class="modulos">
                <div class="container">
                    <p class="d-flex justify-content-start text-dark">Nombre:</p>
                    <select class="form-control inputEstado"  id="name"
                      [(ngModel)]="informacionPerfil.name" name="name">
                      <option *ngFor="let lista of listaDepartamentos" [value]="lista.nombre">{{lista.nombre}}</option>
                    </select>
                </div>
                <div class="container">
                    <p class="d-flex justify-content-start text-dark">Ruta:</p>
                    <select class="form-control inputEstado"  id="name"
                      [(ngModel)]="informacionPerfil.path" name="name">
                      <option *ngFor="let lista of listaDepartamentos" [value]="lista.path">{{lista.path}}</option>
                    </select>
                </div>
              </div>
              <br>
              <div class="modulos">
                <div class="container">
                    <button class="btn btn-dark" type="submit"> Crear </button>
                </div>
                <div class="container">
                    <button class="btn btn-dark" type="button" (click)="atras()"> Atras </button>
                </div>
              </div>
          </form>
        </div>
    </div>
  <br>
  </div>
