<div class="container col-8 requerimiento mt-4">
    <div class="card text-center requerimiento">
        <div class="card-header cardTitulo">
            <div class="text-dark">  Seguimiento requerimiento. </div>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="crearRequerimiento()">
            <div class="container ">
              <div class="numeroRequerimiento"><i class="fa fa-hand-o-right text-info" aria-hidden="true"></i>
                &nbsp; No. requerimiento:</div>
                <input type="text" name="numero" style="width: 70px;" class="form-control numeroReque" [(ngModel)]="respuesta.numeroRequerimiento" value="{{respuesta.numeroRequerimiento}}">
            </div>
            <div class="container ">
                <div class="numeroRespuesta"><i class="fa fa-hand-o-right text-info" aria-hidden="true"></i>
                  &nbsp; No. seguimiento:</div>
                  <input type="text" name="respuesta" style="width: 70px;" class="form-control inputRespuest" [(ngModel)]="respuesta.codigo" value="{{requerimiento.numero}}">
              </div>
            <br>
              <div class="container tipoRequerimiento">
                  <div class="tipoReque mt-4"><i class="fa fa-check-square-o text-info" aria-hidden="true"></i> &nbsp; Tipo de
                      Requerimiento:</div>
                  <div class="fechaReque mt-4"><i class="fa fa-calendar-o text-info" aria-hidden="true"></i> &nbsp; &nbsp; Fecha de
                      Requerimiento:</div>
              </div>

    <!-- Lista Tipo de Requerimiento -->
              <div class="container selectTipoReuqe">
                <select class="form-control"  id="name" required
                        [(ngModel)]="requerimiento.name" name="name">
                      <option *ngFor="let lista of tipoRequerimientos| async" [value]="lista.name">{{lista.name}}</option>
                </select>
              </div>

    <!-- Responsable -->
            <div class="divEmpleado"><i class="fa fa-user-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp;
              Responsable </div>
              <div class="selectEmpleado mt-5">
                  <select class="form-control"  id="nombre" required
                  [(ngModel)]="requerimiento.empleado" name="nombre">
                  <option *ngFor="let requerimiento of listaResponsable | async" [value]="requerimiento.nombreCompleto">{{requerimiento.nombreCompleto}} </option>
                  </select>
              </div>

    <!-- Lista responsable seguimineto -->
              <div class="divSeguimineto"><i class="fa fa-user-o text-info" aria-hidden="true"></i>
                &nbsp; &nbsp;
                Responsable seguimiento </div>
                <div class="selectSeguimineto mt-5">
                    <select class="form-control"  id="nombre" required
                    [(ngModel)]="requerimiento.empleado" name="nombre" style="width: 350px;">
                    <option *ngFor="let requerimiento of listaResponsable | async" [value]="requerimiento.nombreCompleto">{{requerimiento.nombreCompleto}} </option>
                    </select>
                </div>

     <!-- Asunto  -->
            <div class="asunto"><i class="fa fa-folder-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp; Asunto:
              <input name="nuReq" [(ngModel)]="requerimiento.asunto" id="nuReq" type="text" aria-label="First name" class="form-control inputAsunto">
            </div>
     <!-- observaciones -->
            <div class="divObservaciones"><i class="fa fa-pencil-square-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp; Observaciones:
            </div>
              <textarea [(ngModel)]="requerimiento.observaciones" class="form-control observaciones" name="requerimiento.observaciones" rows="3"></textarea>
            <button type="submit" class="btn btn-outline-warning botonCrear">Crear</button>
          </form>

    <!-- Button Adjuntar documento -->
            <button type="button" class="btn btn-outline-info botonAdjun" data-toggle="modal" data-target="#exampleModal">
              Adjuntar Doc.
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Adjuntar documento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
            <div class="container d-flex justify-content-center">
                <p>Nombre archivo: </p>
              </div>
              <div class="d-flex justify-content-center">
                <input class="form-control" style="width: 200px;" type="text" placeholder="Nombre archivo. ." [(ngModel)]="nombreArchivo">
              </div>
                <br>
              <div>
                <input type="file" (change)="uploadFile($event)">
                <br>
              </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Guardar</button>
              </div>
            </div>
           </div>
        </div>

<!-- Button calendario -->
        <div class="col-6 fechaRequerimiento">
            <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
        </div>
            <br>
        </div>
    </div>
</div>

