<div class="container col-8 requerimiento mt-4">
    <div class="card text-center requerimiento">
        <div class="card-header cardTitulo">
            <div class="text-dark">  Seguimiento requerimiento. </div>
        </div>
        <div class="card-body">
          <form  (ngSubmit)="crearRequerimiento()">

      <!-- Numero requerimiento      -->
            <div class="container ">
              <div class="numeroRequerimiento"><i class="fa fa-hand-o-right text-info" aria-hidden="true"></i>
                &nbsp; No. requerimiento:</div>
                <input type="text" name="numero" style="width: 70px;" class="form-control numeroReque" readonly="readonly" [(ngModel)]="seguimiento.numero" value="{{seguimiento.numero}}">
            </div>

      <!-- numero seguimiento     -->
            <div class="container ">
                <div class="numeroRespuesta"><i class="fa fa-hand-o-right text-info" aria-hidden="true"></i>
                  &nbsp; No. seguimiento:</div>
                  <input type="text" name="respuesta" style="width: 70px;" readonly="readonly" class="form-control inputRespuest" [(ngModel)]="infoSeguimiento.numeroSeguimiento" value="{{infoSeguimiento.numeroSeguimiento}}">
              </div>
            <br>

    <!-- Lista Tipo de Requerimiento -->
              <div class="tipoReque mt-4"><i class="fa fa-check-square-o text-info" aria-hidden="true"></i> &nbsp; Tipo de
                  Requerimiento:</div>
              <div class="container selectTipoReuqe">
                  <input type="text" name="listaTipo" style="width: 350px;" class="form-control" readonly="readonly" [(ngModel)]="infoSeguimiento.tipoRequerimiento" value="{{infoSeguimiento.tipoRequerimiento}}">
              </div>

    <!-- Responsable -->
            <div class="divEmpleado"><i class="fa fa-user-o text-info"></i>
              &nbsp; &nbsp;
              Responsable </div>
              <div class="selectEmpleado mt-5">
                  <input type="text" name="responsable" readonly="readonly" style="width: 350px;" class="form-control" [(ngModel)]="infoSeguimiento.responsable" [value]="infoSeguimiento.responsable">
              </div>

    <!-- Lista responsable seguimineto -->
              <div class="divSeguimineto"><i class="fa fa-user-o text-info" aria-hidden="true"></i>
                &nbsp; &nbsp;
                Responsable seguimiento </div>

                <div class="selectSeguimineto mt-5">
                    <select class="form-control"  id="resSeguimiento" required
                    [(ngModel)]="infoSeguimiento.responsableSeguimiento" name="resSeguimiento" style="width: 350px;">
                    <option *ngFor="let requerimiento of listaResponsable | async" [value]="requerimiento.nombreCompleto">{{requerimiento.nombreCompleto}} </option>
                    </select>
                </div>

     <!-- Asunto  -->
            <div class="asunto"><i class="fa fa-folder-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp; Asunto:
              <input name="asunto" [(ngModel)]="infoSeguimiento.asuntoSeguimiento" id="asunto" type="text" aria-label="First name" class="form-control inputAsunto">
            </div>


      <!-- Estado  inputEstado -->
             <div class="estado"> <i class="fa fa-folder-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp; Estado requerimiento:
              <select class="form-control inputEstado"  id="estadoSeguimiento" required
                        [(ngModel)]="infoSeguimiento.estado" name="estadoSeguimiento">
                      <option *ngFor="let lista of listaEstado" [value]="lista.name">{{lista.name}}</option>
                </select>
            </div>
     <!-- observaciones -->
            <div class="divObservaciones"><i class="fa fa-pencil-square-o text-info" aria-hidden="true"></i>
              &nbsp; &nbsp; Observaciones:
            </div>
              <textarea [(ngModel)]="infoSeguimiento.observaciones" class="form-control observaciones" name="requerimientoObservaciones" rows="3"></textarea>
            <button type="submit" class="btn btn-outline-warning botonCrear">Crear</button>
          </form>

    <!-- Button Adjuntar documento -->
            <button type="button" class="btn btn-outline-info botonAdjun" data-toggle="modal" data-target="#exampleModal">
              Adjuntar Doc.
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Adjuntar documento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
            <div class="container d-flex justify-content-center">
                <p>Nombre archivo: </p>
              </div>
              <div class="d-flex justify-content-center">
                <input class="form-control" style="width: 200px;" type="text" placeholder="Nombre archivo. ." [(ngModel)]="nombreArchivo">
              </div>
                <br>
              <div>
                <input type="file" (change)="uploadFile($event)">
                <br>
              </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Guardar</button>
              </div>
            </div>
           </div>
        </div>

<!-- Button calendario -->
        <div class="fechaReque mt-4"><i class="fa fa-calendar-o text-info" aria-hidden="true"></i> &nbsp; &nbsp; Fecha seguimiento:</div>
        <div class="col-6 fechaRequerimiento">
            <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="fecha" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <button type="button" class="btn  botonAtras" (click)="atras()">Atras</button>
</div>

<br> <br> <br>
<br> <br> <br>

