
h1{
  color: red;
}

html, body{
  height: 100%;
  margin: 0;
}

.logo{
  display: inline;
}

img{
  display: flex;
  right: 20%;
  top : 100px;
  height : 460px;
  left : 230px;
  width : 900px;
}

#ingreso{
  display: inline;
  position: absolute;
  top: 400px;
  left: 600px;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#DEDEDE;
}

.iniciologo{
  display: inline;
  width: 120px;
  height: 60px;
  top: 10px;
  left: 20px;
}

.error404{
    position: absolute;
    width: 800px;
    height: 400px;
    top: 110px;
    left: 250px;
  }

.error404Button{
  position: relative;
  top: 313px;
  left: 180px;
}

.centrado{
  display:block;
  margin-top:160px;
}

.div{
 background: #379fe8;
  top: 70px;
  height: 35px;

}

.div2{
  display: inline;
  background: #379fe8;
  margin-top: 75px;
  height: 35px;
}

section{
  min-height: 100%;
  margin-bottom: -30px;
}

.section2{
  min-height: 100%;
  margin-bottom: -30px;
}

.myfooter{
  background-color: #dddddd;
  height: 30px;
  font-size: 12px;
}

.myfooterini{
  background-color: #dddddd;
  height: 30px;
  font-size: 12px;
}

.consultar{
  position: absolute;
  top: 140px;
  left: 140px;
}

.perfiles{
  text-align: center;
}

.perfiles2{
  background-color: #9ad5ff;
  text-align: center;
}

.estiloDiv{
  margin: 10px;
  width: 600px;
  height: 300px;
  top: 300px;
  left: 500px;
}

.estilosDiv{
  position: absolute;
  top: 160px;
  left: 400px;
}

.navPosition{
  position: absolute;
  background: #379fe8;
  top: 80px;
  height: 35px;
  width: 100%;

}

        /* Crear Requerimiento */

.numeroRequerimiento{
  position: absolute;
  top: 70px;
  left: 25px;
}



.tipoRequer{
  position: absolute;
  top: 125px;
  left: 55px;
  text-align: left;
}

.fechaRequer{
  display: flex;
  position: absolute;
  top: 160px;
  left: 470px;
}



.calendario{
  position: absolute;
  top: 100px;
  left: 360px;
  width:200px;

}

.asuntoDos{
  position: absolute;
  top: 310px;
  left: 85px;
  font-size: 14px;

}

.adjuntos{
  position: absolute;
  top: 470px;
  left: 120px;
  font-size: 14px;
}

.adjunto{
  position: absolute;
  top: 490px;
  left: 160px;
  height: 60px;
  width: 60px;
}

.adjuntoEntrada{
  height: 60px;
  width: 60px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*  crear Requerimiento */
.calendario{
  display: inline;
  position: absolute;
  top : 190px;
  left : 460px;
}

.push-right {
  margin-left: auto;
}
