<br>
<div class="container">
  <div class="course">

    <!-- New part: this is the search box -->
    <!-- <mat-input-container>
        <input matInput placeholder="Search lessons" #input>
    </mat-input-container>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div> -->
    <div class="example-header mat-elevation-z8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)"
          placeholder="Escriba algo para filtrar">
        </mat-form-field>
  </div>
  <br>
  <div class="example-container mat-elevation-z8">
  </div>
  <div class="example-container mat-elevation-z8" style="text-align: center;">
      <mat-table [dataSource]="dataSource" matSort>
        <!--  Columna ID-->
        <ng-container matColumnDef="Id">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Id</mat-header-cell>
              <mat-cell *matCellDef="let row" class="centrarTexto"> {{row.numero}} </mat-cell>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="Nombre">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Nombre</mat-header-cell>
              <mat-cell *matCellDef="let row" class="centrarTexto"> {{row.empleado}} </mat-cell>
        </ng-container>

        <!-- Columna Fecha -->
        <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row"  type="button" class="centrarTexto"> {{row.fecha}} </mat-cell>
      </ng-container>

        <!-- Columna Tipo Requerimiento-->
        <ng-container matColumnDef="Requerimiento">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto">Tipo requerimiento </mat-header-cell>
      <mat-cell *matCellDef="let row" class="centrarTexto"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Columna Asunto -->
        <ng-container matColumnDef="Asunto">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Asunto</mat-header-cell>
              <mat-cell *matCellDef="let row" class="centrarTexto"> {{row.asunto}} </mat-cell>
        </ng-container>

         <!-- Columna Observaciones -->
         <ng-container matColumnDef="Observaciones">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Observaciones </mat-header-cell>
              <mat-cell *matCellDef="let row" class="centrarTexto"> {{row.observaciones}} </mat-cell>
        </ng-container>

        <!-- Columna link Doc Adjuntos -->
        <ng-container matColumnDef="Adjunto">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Doc adjunto </mat-header-cell>
          <mat-cell *matCellDef="let row" class="centrarTexto"> <a class="text-info" href="{{row.docAdjunto}}"> adjunto</a></mat-cell>
        </ng-container>

        <!-- Columna Responder Requerimiento -->
        <ng-container matColumnDef="Responder">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="centrarTexto"> Responder </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="responderRequerimiento(row.numero)" class="centrarTexto" type="button"> <a> <i class="fa fa-check text-success" aria-hidden="true"></i> </a>
            </mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<br>
<div class="container">
    <button type="button" class="btn  colorBoton" (click)="atras()">Atras</button>
</div>
<br> <br> <br>

